<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="">
    </a>
    <h1>EBTI</h1>
<h3>educated by the internet</h3>
<p>At Educated by the Internet, we believe that education can help you lead a more fulfilling life. Readers, watchers and listeners - no matter what your mediusm - you will be treated to a wide variety of interesting content currated by experts at EBTI.</p>

    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span>New Stuff</a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> Favorites</a>
  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
   <strong> Quote of the Day </strong>
<e>"Run Forest, run..."</e>
</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class=""></span>Explore EBTI categories</h3>
      <ul>
        <li>Sports<a href=""></li>
        <li>Comedy</li>
        <li>Sports <a href=""></a></li>
        <li>Movies<a href=""></a></li>
        <li>Finance<a href=""></a></li>
        <li>Politics<a href=""></a></li>
        <li>Randomness<a href=""></a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class=""></span>Be our friend and consider donating to keep EBTI up.</h3>
<ul>
<li>Facebook</li>
<li>Twitter</li>
<li>Instagram</li>
<li>Donate</li>
</ul>
</ul>

    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
Content coming soon.
</div>
</div>


</body>
</html>

